<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>珠海财通网络科技有限公司</title>
	<meta name="description" content="">
</head>
<body>
	<div id="app">
		<div class="header">
			<div class="wrap">
				<h1 class="logo"><a href="###"></a></h1>
				<div class="menu" :class="mStand">
					<a v-for="m,i in menu" @mouseover="MenuHover(i)" href="###" v-html="m.title"></a>
				</div>
			</div>
		</div>
		<div class="banner" ref="banner">
			<div class="wrap">
				<template v-for="p in header">
					<p class="cn" v-html="p.des_cn"></p>
					<p class="en" v-html="p.des_en"></p>
				</template>
			</div>
		</div>
		<div class="Server" ref="Server">
			<div class="head">
				<h5 v-html="server.head.title"></h5>
				<h6 v-html="server.head.description"></h6>
			</div>
			<dl class="list">
				<dd v-for="s in server.list">
					<div class="bg-img"></div>
					<div class="bg-color"></div>
					<div class="content">
						<span class="icon"></span>
						<br>
						<h6 v-html="s.title"></h6>
						<div class="line"></div>
						<p v-html="server.des[0]"></p>
						<p v-html="server.des[1]"></p>
					</div>
				</dd>
			</dl>
		</div>
		<div class="Process" ref="Process">
			<div class="head">
				<h5 v-html="process.head.title"></h5>
				<h6 v-html="process.head.description"></h6>
			</div>
			<dl class="wrap list">
				<dd v-for="pro in process.list">
					<div v-html="pro.title"></div>
				</dd>
			</dl>
		</div>

		<div class="About" ref="About">
			<div class="head">
				<h5 v-html="about.head.title"></h5>
				<h6 v-html="about.head.description"></h6>
			</div>
			<div class="wrap">
				<div class="logo"></div>
				<h3 v-html="about.content.name_cn"></h3>
				<h4 v-html="about.content.name_en"></h4>
				<p v-html="about.content.description"></p>
			</div>
		</div>

		<div class="Contact" ref="Contact">
			<div class="head">
				<h5 v-html="contact.head.title"></h5>
				<h6 v-html="contact.head.description"></h6>
			</div>
			<ul class="card">
				<li v-for="val,key in contact.content">
					<span v-html="key + ':'"></span>
					<span v-html="val"></span>
				</li>
			</ul>
		</div>

		<div class="Footer">
			<div class="wrap">
				<div class="menu">
					<span v-for="m in footer.menu" v-html="m.title"></span>
				</div>
				<p v-html="footer.copyright"></p>
			</div>
		</div>
	</div>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<script src="src/vue.js"></script>
	<script type="text/javascript" src="dist/app.js"></script>
</body>
</html>