base-color-1 = #f8931d
base-color-1-light = #f9c586
base-color-2 = #0681fa
base-color-2-light = #8ac4f9

animated(time)
	transition all time
	
delayTime(time)
	transition-delay time
	
body
html
	color #333
	height 100%
	
.wrap
	width 1000px
	margin-left auto
	margin-right auto
	box-sizing border-box
	

baseHeight()
	height 650px
	box-sizing border-box