// @media screen and (min-width:768px)
@media screen and (max-width:768px)
	.wrap
		width 100%
	.header
		text-align center
		.menu
			display none
		.logo
			float none
			display inline-block
	.banner
		background-size auto 100%
		background-position center center
		.wrap
			padding-left 20px
		.cn
			font-size 19px
		.en
			font-size 13px
	.Process
		.list
			padding-bottom 10px
			dd
				margin-bottom 30px
				&:nth-child(1)
					margin-left 25px
				&:last-child
					margin-right 25px
	.Server .list
		.content
			left 0
			width 100%
		dd
			margin-bottom 20px
	.Contact .card
		font-size 14px
		letter-spacing 1px
		padding 20px
		width 80%
		box-sizing border-box
		span:nth-child(1)
			width 60px
	.About
		overflow hidden
		background-size auto 100%
		.wrap
			h3
				font-size 17px
			h4
				font-size 11px
				letter-spacing 1px
			.logo
				width 210px
				margin-left -105px
				background-size 180px auto
				background-position 15px 15px
			p
				font-size 13px
				padding-right 20px
	.Footer .wrap
		height auto
		padding-left 0
		padding-top 110px
		padding-bottom 30px
		background-position-x center
		.menu
			padding-top 0
			span
				display block
				text-align center
				margin-left 0
				padding-bottom 15px
		p
			text-align center

	